/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {

  --main-text-color: #000;
  --bg-color: #fff;

  --text-color: var(--main-text-color, #000);
  --background-color: var(--bg-color, #fff);

  --main-font-weight: 400;
  --heading-font-weight: 700;

  --main-gradient-color: #d3d3d3;
  --top-gradient-color: #e7e7e7;
  --bottom-gradient-color: #1a1a1a;
  --background_gradient:
  repeating-linear-gradient(var(--main-gradient-color, #d3d3d3) 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to right, var(--main-gradient-color, #d3d3d3) 0px 2px, transparent 2px 4px),
  linear-gradient(var(--top-gradient-color, #e7e7e7) 0.01%, var(--bottom-gradient-color, #1a1a1a));

}


:root.theme-dark {

  --main-text-color: #00cc14;
  --bg-color: #000;

  --text-color: var(--main-text-color, #00cc14);
  --background-color: var(--bg-color, #000);

  --main-font-weight: 465;
  --heading-font-weight: 785;

  --main-gradient-color: #000;
  --top-gradient-color: #007f0c;
  --bottom-gradient-color: #004306;
  --background_gradient:
  repeating-linear-gradient(var(--main-gradient-color, #000) 0px 2px, transparent 2px 4px),
  repeating-linear-gradient(to right, var(--main-gradient-color, #000) 0px 2px, transparent 2px 4px),
  linear-gradient(var(--top-gradient-color, #007f0c) 0.01%, var(--bottom-gradient-color, #004306));

}


@media (prefers-color-scheme: dark) {
  :root {

    --main-text-color: #00cc14;
    --bg-color: #000;

    --text-color: var(--main-text-color, #00cc14);
    --background-color: var(--bg-color, #000);

    --main-font-weight: 465;
    --heading-font-weight: 785;

    --main-gradient-color: #000;
    --top-gradient-color: #007f0c;
    --bottom-gradient-color: #004306;
    --background_gradient:
    repeating-linear-gradient(var(--main-gradient-color, #000) 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to right, var(--main-gradient-color, #000) 0px 2px, transparent 2px 4px),
    linear-gradient(var(--top-gradient-color, #007f0c) 0.01%, var(--bottom-gradient-color, #004306));

    }
  }